<div class="container">
  <div class="grid">
    <div class="pending">

    </div>
    <div class="ready-to-book">

    </div>
    <div class="already-booked">

    </div>
  </div>
</div>

<h1>Upcoming adventures</h1>
<% @bookings.each do |booking| %>
  <h2><%= booking.activity.name %></h2>
  <h3>Min limit is <%= booking.activity.min_limit %></h3>
  <h3>Max limit is <%= booking.activity.max_limit %></h3>
  <h4>Current amount of members is <%= booking.activity.users.count %></h3>
  <%= booking.activity.description %>
  <%= booking.activity.start_date %>
  <%= booking.activity.end_date %>
  <%= booking.activity.activation_date %>
  <%= booking.activity.location %>
  <%= booking.activity.photo %>
  <%= link_to "Leave group", activity_booking_path(booking.activity, booking), method:"delete" %>
<% end %>

<h1>Welcome to your scrapebook <%= current_user.name %> !</h1>
<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <h4>
      <%= review.user.name %>
      <%= review.activity.name %>
      <%= review.description %>
      <%= "*" * review.rating %>
    </h4>
  <% end %>
<% else %>
  <h3>Sorry, you have not shared any of your experiences yet</h3>
<% end %>

<% if @activities_been_to.present? %>
  <h1>Here's a list of activities you have already been to:</h1>
  <% @activities_been_to.each do |activity| %>
    <%= activity.name %>
    <%= link_to "Add a review to your scrapebook !", new_activity_review_path(activity) %>
  <% end %>
<% end %>




