<h1>Upcoming adventures</h1>
<% @bookings.each do |booking| %>
  <%= booking.activity.name %>
  <%= booking.activity.description %>
  <%= booking.activity.start_date %>
  <%= booking.activity.end_date %>
  <%= booking.activity.activation_date %>
  <%= booking.activity.location %>
  <%= booking.activity.photo %>
<% end %>
