<div class=" container ">
  <div class="card-wrapper">
    <div class="row">
       <%  @top_three_activity.each do |activity| %>
          <div class="col-xs-12 col-sm-4">
            <div class="activity-card-wrapper">
              <%= link_to activity_path(activity) do %>
              <div class="activity-card" style="background-image: linear-gradient(-225deg, rgba(44, 29, 29, 1) 0%, rgba(79, 9, 9, 0.46) 30%), url(<%= cl_image_path(activity.photos.first.photo, crop: :fill) %> ); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
                   <div class="info">
                    <h2 ><%= activity.name %></h2>
                  <!--   <p class="styling"><%= activity.price %> $</p> -->
                   <div class="adjust-icon text-center">
                      <i class="<%= activity.icon %>"></i>
                   </div>
                  </div>
                </div>
              <% end %>
          </div>
        </div>

    <% end %>
    </div>
  </div>
</div>



