<div class="hot_and_ternding">
  <h1>Hot and trending </h1>
  <div class="container-calender">
    <section class="calendar">
      <%= cl_image_tag(@most_recent_activity.photo, crop: :fill,class:'calender-image') %>
       <h1 class="location-style"  > location </h1>
        <h1 class="date-style"  > <%=  @most_recent_activity.start_date.strftime("%-d %b") %> - <%=  @most_recent_activity.end_date.strftime("%-d %b") %></h1>
        <h2> <%=  @most_recent_activity.price %> $</h2>
        <a class="white-button-tumble centerd" href="#">Book Now</a>
    </section>
    <section class ="calender-description">
     <p> <%=  truncate( @most_recent_activity.description, :length => 262, :omission => ' .... more') %></p>
    </section>
  </div>
</div>
