<div class="banner" style="background-image:linear-gradient(-225deg, rgba(243, 241, 241, 0.9) 0%, rgba(232, 226, 179, 0.1) 90%), url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
    <div class="slogen">
      <div>

        <h1>lets get ready to tumble</h1>
      </div>
    </div>
  </div>

<div class="container">
      <div class="home-search ">
        <h1>Find your next activity</h1>
        <p  class="searchbar">
          <%= form_tag activities_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control", id:"search-input",
              placeholder: "Find activities at your next destination"
            %>
          <% end %>
        </p>
      </div>
</div>
  <div class="home-search ">
       <h1>Explore tumble activities</h1>
      </div>
<div class="map-cards-banner" style="background-image: linear-gradient(-225deg, rgba(225,225,225,0.01) 0%, rgba(225,225,225,0.01) 50%), url(<%= image_path '6.png' %>);">
  <div adjust-card>
  </div>
    <%= render 'shared/cards' %>
</div>

<%= render 'shared/hottrending' %>
<%= render 'shared/scrapebookhomepage' %>


