
<div class="banner-parallax" style="background-image:linear-gradient(-225deg, rgba(243, 241, 241, 0.9) 0%, rgba(232, 226, 179, 0.1) 90%), url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
</div>


<div class="map-cards-banner" style="background-image: linear-gradient(-225deg, rgba(225,225,225,0.01) 0%, rgba(225,225,225,0.01) 50%), url(<%= image_path '6.png' %>);">
  <div adjust-card>
  </div>
    <%= render 'shared/allactivities' %>
<div>
  </div>
<div class= "flex-buttons">
  <a id="show-map" class="black-button-tumble for-explore "  href="#">map</a>
   <a class="black-button-tumble view-c" href="#">up</a>

</div></div>

<div
  id="map" class="hide"
  style="width: 800px;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


<%= link_to "indoor", filter_by_category_path(Category.find_by_name("indoor")), remote: true %>
<%= link_to "extreme", filter_by_category_path(Category.find_by_name("extreme")), remote: true %>
<%= link_to "educational", filter_by_category_path(Category.find_by_name("educational")), remote: true %>
<%= link_to "water", filter_by_category_path(Category.find_by_name("water")), remote: true %>
<%= link_to "nature", filter_by_category_path(Category.find_by_name("nature")), remote: true %>
<%= link_to "social", filter_by_category_path(Category.find_by_name("social")), remote: true %>





