<div class="banner-parallax" style="background-image:linear-gradient(-225deg, rgba(243, 241, 241, 0.9) 0%, rgba(232, 226, 179, 0.1) 90%), url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
</div>


<div class="cards-container" class="banner-parallax-for-cards" style="height: 100vh; background-image: url(<%= image_path 'backgourndparallox.png' %>);">
  <div class="card-wrapper">
    <div class="container">
      <div class="row text-center">
        <% @activities.each do |activity| %>
          <div class="col-xs-12 col-sm-4" style="padding: 0px">
            <div class="activity-card-wrapper">
            <div class="activity-card" style="background-image: url(<%= cl_image_path(activity.photo, crop: :fill) %> ); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;">
                 <div class="info">
                <h2 ><%=link_to activity.name, activity_path(activity) ,:class => "type"%></h2>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>

</div>
   <a class="black-button-tumble" href="#">View more trips </a>


  <a id="show-map" class="black-button-tumble" href="#">Show on map</a>

<div
  id="map" class="hide"
  style="width: 800px;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
